* {
    box-sizing: border-box;
}

body{
    background-color: black;
}

h1{
    background-color: white;
}

.ball{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: aquamarine;
}